<div id="dk-footer" class="dk-footer">
  <div class="container ">
    <div class="row ">

      <div class="col-md-3 " >
        <h4 style="color: white;text-align: center;"><i class="fas fa-database"></i> Ressources and Data</h4>
        <ul style="color: white;">
          <li><a href="https://api.covid19api.com/">Source 1</a></li>
          <li><a href="https://corona.lmao.ninja/All">Source 2</a></li>
          <li><a href="https://moroccostats.herokuapp.com/stats/coronavirus/countries/">Source 3</a></li>
          <li><a href="https://api.thevirustracker.com/">Source 4</a></li>
        </ul>
      </div>
      <div class="col-md-6" >
        <h4 style="color: white;text-align: center;"><i class="fas fa-user-shield"></i> About</h4>
<p style="color: white;">My name is Bendrimou Ayoub , Student at faculty o science and technology in Morocco, This is my work about tracking covid-19
and collecting data and timline of this coronaVirus around the world , This website contain all data of 212 country around the world
( Total cases, recovered,deaths and other informations ,...) and  especially I do a lot of info details about my country <u><b><span style="font-size: 24px;color: brown;">Morocco</span></b></u>
like regions and Daily tracking this virus around my country , Finally ,if you have any comments , questions or anything, feel free to contact me , My contact is in the right side .  </p>
      </div>
      <div class="col-md-3" >
        <h4 style="color: white;text-align: center;"><i class="fas fa-id-card-alt"></i> My Contact</h4>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
              <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="https://github.com/DoraymonIT/" style="text-decoration: none;"><i class="icon-github-alt" style="font-size: 34px;" ></i></a></li>
                <li class="list-inline-item"></li>
                <li class="list-inline-item"></li>
                <li class="list-inline-item"><a href="https://m.facebook.com/mario.a.gotze.5" style="text-decoration: none;"><i class="icon-facebook-sign"  style="font-size: 34px;"></i></a></li>
                <li class="list-inline-item"></li>
                <li class="list-inline-item"></li>
                <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCCIxCkboxedft5eVGTYFvRw/"  style="text-decoration: none;"><i class="icon-youtube"  style="font-size: 34px;"></i></a></li>
              </ul>
            </div>
            <hr>
          </div>
      </div>


      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <b> <span>Copyright © 2020, All Right Reserved To BENDRIMOU Team</span></b>
        </div>
      </div>
    </div>
  </div>
</div>
