<header>
  <nav class="navbar navbar-dark bg-dark box-shadow">
    <ul class="navbar-nav" style="margin-bottom: -17px;">
      <li class="nav-item active" >
        <a class="nav-link" href="#home">
          <h5><img [src]="cheminImage" alt='imageAcceuil' width="35px" height="40px" style="padding-bottom: 7px;" />
            COVID-19 Worldwide Confirmed Cases</h5>
        </a>
      </li>
    </ul>
    <form class="form-inline my-lg-0">
      <div class="hSearch"><a style="text-decoration: none;color: white; " href="/#footer" ><i class="fas fa-database"></i> Data</a></div>
      <div class=""><a href="https://www.buymeacoffee.com/doraymonIT" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/lato-black.png" alt="Buy Me A Coffee" style="height: 40px !important;width: 147px !important;border-radius:5px" ></a></div>
    </form>
  </nav>


</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-3 cases">
      <app-side-bar1></app-side-bar1>
    </div>
    <div class="col-md-9 col-sm-9 deaths">
      <app-side-bar2></app-side-bar2>
      <div class="row">
        <div class="col-md-6">
          <h5 style="text-align: center; padding: 10px;color: whitesmoke;"><i class="fas fa-hourglass-half"></i> Timeline of CoronaVirus In Morocco</h5>
          <app-line-bar></app-line-bar>
        </div>
        <div class="col-md-6">
          <h5 style="text-align: center; padding: 10px;color: whitesmoke;"><i class="fas fa-chart-bar"></i> The Total Stats Over the World</h5>
          <app-circle-bar></app-circle-bar>
        </div>
        <div class="col-md-12 ">
          <h4 style="text-align: center; padding: 10px;margin:10px;color: whitesmoke;">  <i class="fas fa-newspaper"></i> Morocco : Last News about
            Coronavirus ( Covid19 )</h4>
          <app-side-bar3></app-side-bar3>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12">
          <h4 style="text-align: center; padding: 10px;margin:10px;color: whitesmoke;"><i class="fas fa-hourglass-half"></i> TimeLine CoronaVirus In Morocco
            Country </h4>
          <app-time-line></app-time-line>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer">
  <app-footer></app-footer>
</footer>
<router-outlet></router-outlet>
